/* css styles */
.level2 {
  margin-top: 50px;
}
.level3 {
  margin-top: 30px;
}
.level4 {
  margin-top: 20px;
}
.btn {
  margin-bottom: 3px;
}
.float_image_right {
  float: right;
  padding-left: 30px;
  padding-bottom: 10px;
}
.float_image_right p {
  caption-side: bottom;
  padding-left: 30px
  color:#ddd;
  font-style: italic;
  text-align: right;
}
.figure {
  display: contents;
}

.student-response {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  p:last-child {
    margin-bottom: 0;
  }
  code {
    border-radius: 3px;
  }
  & + .bs-callout {
    margin-top: -5px;
  }
}

/* Stolen from https://raw.githubusercontent.com/SmithCollege-SDS/sds100/main/www/styles.css?token=GHSAT0AAAAAABST4ULO3PP5GFDM2FE2B6XYYY2S4NA, which was stolen from
https://raw.githubusercontent.com/OpenIntroStat/oilabs-tidy/main/lab.css
*/

body {
    counter-reset: li; /* initialize counter named li */
}

h6 {
  display: none;
}

.question {
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
    position:relative; /* Create a positioning context */
    margin:0 0 10px 2em; /* Give each list item a left margin to make room for the numbers */
    padding:10px 50px; /* Add some spacing around the content */
    list-style:none; /* Disable the normal item numbering */
    border-top:2px solid #002855; /* Smith blue */
    background:rgba(49, 126, 172, 0.1);
}
.question:before {
    content:"Ex " counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    /* Position and style the number */
    position:absolute;
    top:-2px;
    left:-2em;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:4em;
    /* Some space between the number and the content in browsers that support
       generated content but not positioning it (Camino 2 is one example) */
    margin-right:8px;
    padding:4px;
    border-top:2px solid #002855; /* Smith blue */
    color:#fff;
    background:#002855; /* Smith blue */
    font-weight:bold;
    font-family:"Helvetica Neue", Arial, sans-serif;
    text-align:center;
}

.hex {
    width: 100px;
    float: right;
    margin-left: 10px;
}