/* css styles */
.level2 {
  margin-top: 50px;
}
.level3 {
  margin-top: 30px;
}
.level4 {
  margin-top: 20px;
}
.btn {
  margin-bottom: 3px;
}
.float_image_right {
  float: right;
  padding-left: 30px;
  padding-bottom: 10px;
}
.float_image_right p {
  caption-side: bottom;
  padding-left: 30px
  color:#ddd;
  font-style: italic;
  text-align: right;
}
.figure {
  display: contents;
}

.student-response {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  p:last-child {
    margin-bottom: 0;
  }
  code {
    border-radius: 3px;
  }
  & + .bs-callout {
    margin-top: -5px;
  }
}